/* Стили для подложки */

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

/* Стили для модальных окон */

.modal {
  /* Скрываем окна  */

  z-index: 1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  transition: all 0.8s ease 0s;

  /*  Установаем ширину окна  */
  width: 280px;
  height: 780px;
  @include tablet {
    width: 568px;
    height: 554px;
  }

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 28px;
  background-color: $secondary-font-color;
  border: 2px solid $accent-color;
  border-radius: 10px;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;

  @include tablet {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

/* Стили для заголовка */
.modal__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.5;
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__button {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: transparent;
}

.modal__cross {
  width: 20px;
  height: 20px;

  fill: $primary-font-color;
  transition: fill 300ms ease-in-out;

  &:hover,
  &:focus {
    fill: $btn-hover-bg;
  }
}

.header_modal-title {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 1.4;

  display: flex;
  justify-content: center;

  color: $primary-font-color;
}

.products__list-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 82px;

  // gap: 168px;
  // margin-top: 148px;

  @include tablet {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    gap: 32px;
    margin-top: 100px;
  }
}

.products__item-header {
  position: relative;
  margin-bottom: 32px;

  width: 132px;
  height: 136px;

  @include tablet {
    padding-top: 95px;
    margin-bottom: 40px;
  }

  border-radius: 24px;
  background-repeat: no-repeat;
  background-size: contain;

  &:nth-child(1) {
    margin-top: 86px;
    border: 2px solid #96af8c;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15px;

    @include tablet {
      margin-top: 0px;
    }
  }

  &:nth-child(2) {
    background: #efd478;
    border: 2px solid #efd478;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    border-radius: 15px;
  }

  &:nth-child(3) {
    border: 2px solid #d6936d;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;
  }

  //  ============== images shadow  ==============

  &::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 50%);

    width: 132px;
    height: 139px;

    @include tablet {
      top: -90%;
      height: 132px;
    }

    border-radius: 50%;
  }

  &:nth-child(1)::before {
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  }

  &:nth-child(2)::before {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }

  &:nth-child(3)::before {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  }

  //  ============== images  ==============

  &::after {
    content: '';
    position: absolute;
    top: -107%;
    left: 50%;
    transform: translate(-50%, 50%);

    width: 132px;
    height: 139px;

    @include tablet {
      display: block;
      top: -106%;
      width: 132px;
      height: 139px;
    }

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    border-radius: 50%;
  }

  &:nth-child(1)::after {
    background-image: url(../images/header/modal/ice-cream1.png);

    @include retina2x {
      background-image: url(../images/header/modal/ice-cream2_2x.png);
    }
  }

  &:nth-child(2)::after {
    background-image: url(../images/header/modal/ice-cream2.png);

    @include retina2x {
      background-image: url(../images/header/modal/ice-cream2_2x.png);
    }
  }

  &:nth-child(3)::after {
    background-image: url(../images/header/modal/ice-cream3.png);

    @include retina2x {
      background-image: url(../images/header/modal/ice-cream3_2x.png);
    }
  }
}

.products__name-header {
  padding-bottom: 40px;
  margin-bottom: 20px;
  padding-top: 86px;

  color: $primary-font-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include tablet {
    padding-top: 0;
    font-size: 16px;
  }
}
