h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  padding: 0;
  font-style: normal;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #131313;
  line-height: 1.25;
  letter-spacing: 0.04;

  background-image: url('/src/images/general/mobile-bg.jpg');
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/general/mobile-bg@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: url('/src/images/general/tablet-bg.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/general/tablet-bg@2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url('/src/images/general/desktop-bg.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/general/desktop-bg@2x.jpg');
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  // @media screen and (min-width: $mobile) {
  //   width: 440px;
  // }

  // @media screen and (min-width: $tablet) {
  //   width: 704px;
  // }

  // @media screen and (min-width: $desktop) {
  //   width: 1168px;
  // }
}
.section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 60px 0;
}

// @media screen and (min-width: $tablet) {
//   .section {
//     padding: ;
//   }
// }

// @media screen and (min-width: $desktop) {
//   .section {
//     padding: ;
//   }
// }
