// fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Seymour One', sans-serif;

// colors
$primary-font-color: #131313;
$secondary-font-color: #fcfcfc;
$button-light-color: #ffffff;
$accent-color: #f8d24e;
$copyright-color: #7a7a7a;
$solid-bg-color: #84a178;
$solid-bg-rgba: rgba(132, 161, 120, 1);
$transparent-bg-rgba: rgba(255, 255, 255, 0);
$accent-bg-color: #111319;
$secondary-bg-color: #f7f7f7;
$button-text-color: #000000;

// Cards
$card-bg-color1: #aec6a5;
$card-bg-weak1: rgba(156, 190, 143, 0.7);
$card-bg-color2: #efd478;
$card-bg-weak2: rgba(235, 248, 78, 0.7);
$card-bg-color3: #d6936d;
$card-bg-weak3: rgba(213, 117, 63, 0.7);

// Buttons

$btn-hover-bg: #0a8817;
$btn-default-color: #f8d24e;
$btn-disabled-color: #ababab;

// border radius
$border-radius: 50px;
$btn-border-radius: 10px;

// sizes
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
