.hero {
  @media screen and (min-width: 320px) {
    min-width: 320px;
    height: 465px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 100%;

    background-image: url(../images/hero/mobile-dot.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/mobile-dot@2x.png);
      margin-top: 452px;
    }
    background-color: $solid-bg-color;
  }

  @include tablet {
    width: 768px;
    height: 369px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 100%;

    background-image: url(../images/hero/tablet-dot.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/tablet-dot@2x.png);
    }
    background-color: $solid-bg-color;
  }

  @include desktop {
    width: 1200px;
    height: 599px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 100%;

    background-image: url(../images/hero/desctop-dot.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/desctop-dot@2x.png);
    }

    background-color: $solid-bg-color;
  }
}

.section__hero {
  background-color: $solid-bg-color;
  padding-top: 50px;
  padding-bottom: 0;

  @include tablet {
    padding-top: 14px;
  }

  @include desktop {
    padding-top: 45px;
  }
}

.hero__flex {
  display: flex;

  position: relative;
}

.hero__main--title {
  font-family: $secondary-font;
  font-weight: 400;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $secondary-font-color;

  @media screen and (min-width: 320px) {
    width: 247px;
    margin-top: 50px;

    font-size: 26px;
    line-height: calc(33 / 26);
  }

  @include tablet {
    width: 247px;
    margin-top: 14px;

    font-size: 26px;
    line-height: calc(33 / 26);
    letter-spacing: 0.04em;
  }

  @include desktop {
    width: 367px;
    margin-top: 45px;

    font-size: 38px;
    line-height: calc(48 / 38);
  }
}

.hero__button {
  display: flex;
  gap: 12px;
  align-items: center;

  @media screen and (min-width: 320px) {
    margin-top: 32px;
    margin-left: 20px;
  }
  @include tablet {
    margin-top: 24px;
  }
  @include desktop {
    margin-top: 28px;
  }
}

.hero__button--first {
  border: 2px solid $btn-default-color;

  background-color: transparent;
  color: $primary-font-color;
  font-weight: 600;

  @media screen and (min-width: 320px) {
    width: 108px;
    height: 38px;
    border-radius: 8px;

    font-size: 12px;
    line-height: calc(15 / 12);

    &:hover {
      border-color: $btn-hover-bg;
      color: $button-text-color;
    }
  }
  @include tablet {
    width: 108px;
    height: 38px;
    border-radius: 8px;

    font-size: 12px;
    line-height: calc(15 / 12);

    &:hover {
      border-color: $btn-hover-bg;
      color: $button-text-color;
    }
  }

  @include desktop {
    width: 134px;
    height: 42px;
    border-radius: 10px;

    font-size: 14px;
    line-height: calc(18 / 14);

    &:hover {
      border-color: $btn-hover-bg;
      color: $button-text-color;
    }

    &:focus {
      border-color: $btn-hover-bg;
      color: $secondary-font-color;
    }
  }
}

.hero__button--second {
  border-radius: 10px;
  border: solid transparent;
  background-color: transparent;

  align-items: center;
  color: $accent-color;
  text-decoration: underline;

  font-weight: 600;

  @media screen and (min-width: 320px) {
    width: 114px;
    height: 24px;

    font-size: 12px;
    line-height: calc(15 / 12);

    &:hover {
      color: $btn-hover-bg;
    }

    &:focus {
      color: $secondary-font-color;
    }
  }
  @include tablet {
    width: 114px;
    height: 24px;

    font-size: 12px;
    line-height: calc(15 / 12);

    &:hover {
      color: $btn-hover-bg;
    }

    &:focus {
      color: $secondary-font-color;
    }
  }
  @include desktop {
    width: 154px;
    height: 40px;

    font-size: 14px;
    line-height: calc(17 / 14);

    &:hover {
      color: $btn-hover-bg;
    }

    &:focus {
      color: $secondary-font-color;
    }
  }
}

.hero__picture {
  @include tablet {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 12px;
  }

  @include desktop {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 42px;
  }
}

.hero__img {
  @media screen and (max-width: 480px) {
    display: none;
  }

  @include tablet {
    width: 152px;
    height: 152px;
    border-radius: 50%;

    margin-bottom: 12px;
    margin-left: 32px;
  }

  @include desktop {
    width: 225px;
    height: 225px;
    border-radius: 50%;

    margin-bottom: 65px;
  }
}

.hero__uppertitle {
  @media screen and (max-width: 480px) {
    display: none;
  }

  @include tablet {
    width: 139px;
  }
  @include desktop {
    width: 200px;
  }
}
.hero__uppertitle--text {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: $secondary-font-color;

  @include tablet {
    font-size: 12px;
  }

  @include desktop {
    font-size: 14px;
  }
}
.hero__icon {
  fill: $secondary-font-color;
}

.hero__right--side {
  @media screen and (min-width: 320px) {
    width: 177px;
    height: 217px;
    position: absolute;
    top: 113%;
    left: 28%;
  }

  @include tablet {
    width: 268px;
    height: 329px;
    position: absolute;
    top: 11%;
    left: 58%;
  }

  @include desktop {
    width: 456px;
    height: 560px;
    position: absolute;
    top: 7%;
    left: 57%;
  }
}

.food__bracks {
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero__list {
  @include tablet {
    margin-top: 28px;
  }

  @include desktop {
    margin-top: 53px;
  }
}

.hero__iteam--number {
  font-family: $primary-font;
  font-weight: 900;

  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-font-color;

  @include tablet {
    font-size: 28px;
    line-height: calc(34 / 28);
  }

  @include desktop {
    font-size: 46px;
    line-height: calc(56 / 46);
  }
}

.hero__iteam--text {
  font-family: $primary-font;
  font-weight: 400;
  text-align: right;
  color: $secondary-font-color;

  @include tablet {
    font-size: 8px;
    line-height: calc(10 / 8);
  }

  @include desktop {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
