.products {
  text-align: center;
}

.products__desc {
  color: $primary-font-color;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;

  @include tablet {
    font-size: 22px;
  }

  @include desktop {
    font-size: 30px;
  }
}

.products__title {
  margin-top: 12px;

  color: $primary-font-color;

  font-family: $secondary-font;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include tablet {
    font-size: 34px;
  }

  @include desktop {
    font-size: 36px;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 168px;

  margin-top: 148px;

  @include tablet {
    gap: 16px;
    margin-top: 200px;
  }

  @include desktop {
    gap: 29px;
    margin-top: 303px;
  }
}

.products__item {
  position: relative;

  padding-top: 123px;
  padding-right: 40px;
  padding-left: 40px;

  width: 280px;
  height: 420px;

  @include tablet {
    padding-top: 108px;
    padding-right: 26px;
    padding-left: 26px;

    width: 224px;
    height: 428px;
  }

  @include desktop {
    padding-top: 165px;
    padding-right: 64px;
    padding-left: 64px;

    width: 370px;
    height: 536px;
  }

  border-radius: 24px;

  &:nth-child(1) {
    background-color: $card-bg-color1;
  }

  &:nth-child(2) {
    background-color: $card-bg-color2;
  }

  &:nth-child(3) {
    background-color: $card-bg-color3;
  }

  //  ============== images shadow  ==============

  &::before {
    content: '';
    position: absolute;
    top: -46%;
    left: 50%;
    transform: translate(-50%, 50%);

    display: block;

    width: 200px;
    height: 200px;

    @include tablet {
      top: -48%;
    }

    @include desktop {
      top: -59%;

      width: 300px;
      height: 300px;
    }

    border-radius: 50%;
  }

  &:nth-child(1)::before {
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  }

  &:nth-child(2)::before {
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  }

  &:nth-child(3)::before {
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  }

  //  ============== images  ==============

  &::after {
    content: '';
    position: absolute;
    top: -49%;
    left: 50%;
    transform: translate(-50%, 50%);

    display: block;

    width: 200px;
    height: 200px;

    @include tablet {
      top: -51%;
    }

    @include desktop {
      top: -62%;

      width: 300px;
      height: 300px;
    }

    background-position: center;
    background-size: contain;

    border-radius: 50%;
  }

  &:nth-child(1)::after {
    background-image: url(../images/products/ice-cream_1x.jpg);

    @include retina2x {
      background-image: url(../images/products/ice-cream_2x.jpg);
    }

    @include desktop {
      background-image: url(../images/products/desktop_ice-cream_1x.jpg);

      @include retina2x {
        background-image: url(../images/products/desktop_ice-cream_2x.jpg);
      }
    }
  }

  &:nth-child(2)::after {
    background-image: url(../images/products/ice-coffee_1x.jpg);

    @include retina2x {
      background-image: url(../images/products/ice-coffee_2x.jpg);
    }

    @include desktop {
      background-image: url(../images/products/desktop_ice-coffee_1x.jpg);

      @include retina2x {
        background-image: url(../images/products/desktop_ice-coffee_2x.jpg);
      }
    }
  }

  &:nth-child(3)::after {
    background-image: url(../images/products/milkshakes_1x.jpg);

    @include retina2x {
      background-image: url(../images/products/milkshakes_2x.jpg);
    }
    @include desktop {
      background-image: url(../images/products/desktop_milkshakes_1x.jpg);

      @include retina2x {
        background-image: url(../images/products/desktop_milkshakes_2x.jpg);
      }
    }
  }
}

.products__name {
  padding-bottom: 40px;

  color: $primary-font-color;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include tablet {
    font-size: 22px;
  }

  @include desktop {
    font-size: 30px;
  }
}

.products__text {
  color: $primary-font-color;

  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.04em;

  @include desktop {
    font-size: 16px;
  }
}

// Button styles

.products__btn {
  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translatex(-50%);

  background-color: transparent;
  border: none;
  cursor: pointer;

  @include tablet {
    bottom: 12px;
  }

  @include desktop {
    bottom: 60px;
  }

  // Button icon styles

  & > .products__icon {
    width: 40px;
    height: 16px;
    transition: width 300ms ease-in-out, height 300ms ease-in-out;
  }
  &:hover > .products__icon {
    width: 60px;
    height: 24px;
  }
}

// ============ Products modal styles ============

.products-modal {
  @include tablet {
    padding-right: 40px;
    padding-left: 40px;
  }
}

// Title styles

.products-modal__title {
  margin-bottom: 180px;
  font-size: 20px;
}

// shadow of image

.nutrition {
  &::before {
    content: '';
    position: absolute;
    top: -154px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 132px;
    height: 132px;
    background-color: rgba(156, 190, 143, 0.7);
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    border-radius: 50%;
  }

  // image

  &::after {
    content: '';
    position: absolute;
    top: -161px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-image: url(../images/products/products-modal-icecream_1x.jpg);
    @include retina2x {
      background-image: url(../images/products/products-modal-icecream_2x.jpg);
    }
  }
}

// nutrition list styles

.nutrition {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 9px;
  margin-bottom: 40px;

  @include tablet {
    gap: 20px;
  }
}

.nutrition__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;

  @include tablet {
    padding-bottom: 12px;
    width: 65px;
    height: 90px;
  }

  // background ellipse of nutrition item

  &::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: block;
    width: 43px;
    height: 43px;
    background-color: #9cbe8f;
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
    border-radius: 50%;

    @include tablet {
      width: 53px;
      height: 53px;
    }
  }
}

.nutrition__value {
  z-index: 100;
  margin-bottom: auto;
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;

  @include tablet {
    font-size: 12px;
  }
}

.nutrition__desc {
  font-size: 10px;
  line-height: 1.2;

  @include tablet {
    font-size: 12px;
  }
}

.nutrition__desc--short {
  @include tablet {
    display: none;
  }
}

.nutrition__desc--long {
  display: none;

  @include tablet {
    display: block;
  }
}

// ingredients styles

.products-modal__ingredients-title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 40px;
}

.ingredients__item {
  display: flex;
  justify-content: space-between;
}

.ingredients__name,
.ingredients__value {
  font-size: 14px;
  line-height: 1.78;
  letter-spacing: inherit;
}

// form styles

.products-modal__form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    width: 368px;
  }
}

.products-modal__field {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid $solid-bg-color;
  border-radius: 10px;

  &::placeholder {
    color: $primary-font-color;
    font-size: 14px;
    line-height: 1.43;
  }

  &:focus {
    border: 1px solid $accent-color;
    outline: none;
  }
}

.products-modal__input {
  height: 42px;
  margin-bottom: 16px;
}

.products-modal__comment {
  margin-bottom: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  resize: none;
  height: 84px;

  @include tablet {
    margin-bottom: 32px;
  }
}

// button styles

.products-modal__btn--submit {
  @extend %btn;
  margin-left: auto;
  margin-right: auto;
  width: 132px;
}

// ============ Products modal styles ============

.products-modal {
  padding: 28px 20px;
  width: 280px;

  background-color: $secondary-font-color;
  border: 2px solid $accent-color;
  border-radius: 10px;

  @include tablet {
    width: 568px;
    padding: 32px 40px;
  }
}

// Title styles

.products-modal__title {
  margin-bottom: 180px;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 1.4;
}

// image styles

.nutrition {
  // shadow of image

  &::before {
    content: '';
    position: absolute;
    top: -154px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 132px;
    height: 132px;
    background-color: rgba(156, 190, 143, 0.7);
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    border-radius: 50%;
  }

  // image
  &::after {
    content: '';
    position: absolute;
    top: -161px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 132px;
    height: 132px;
    background-image: url(../images/products/products-modal-icecream_1x.jpg);
    @include retina2x {
      background-image: url(../images/products/products-modal-icecream_2x.jpg);
    }
    border-radius: 50%;
  }
}

// nutrition list styles

.nutrition {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 9px;
  margin-bottom: 40px;

  @include tablet {
    gap: 20px;
  }
}

.nutrition__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;

  @include tablet {
    padding-bottom: 12px;
    width: 65px;
    height: 90px;
  }

  // background ellipse of nutrition item

  &::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: block;
    width: 43px;
    height: 43px;
    background-color: #9cbe8f;
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
    border-radius: 50%;

    @include tablet {
      width: 53px;
      height: 53px;
    }
  }
}

.nutrition__value {
  z-index: 100;
  margin-bottom: auto;
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;

  @include tablet {
    font-size: 12px;
  }
}

.nutrition__desc {
  font-size: 10px;
  line-height: 1.2;

  @include tablet {
    font-size: 12px;
  }
}

.nutrition__desc--short {
  @include tablet {
    display: none;
  }
}

.nutrition__desc--long {
  display: none;

  @include tablet {
    display: block;
  }
}

// ingredients styles

.products-modal__ingredients-title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 40px;
}

.ingredients__item {
  display: flex;
  justify-content: space-between;
}

.ingredients__name,
.ingredients__value {
  font-size: 14px;
  line-height: 1.78;
  letter-spacing: inherit;
}

// form styles

.products-modal__form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    width: 368px;
  }
}

.products-modal__field {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid $solid-bg-color;
  border-radius: 10px;

  &::placeholder {
    color: $primary-font-color;
    font-size: 14px;
    line-height: 1.43;
  }

  &:focus {
    border: 1px solid $accent-color;
    outline: none;
  }
}

.products-modal__input {
  height: 42px;
  margin-bottom: 16px;
}

.products-modal__comment {
  margin-bottom: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  resize: none;
  height: 84px;

  @include tablet {
    margin-bottom: 32px;
  }
}

// button styles

.products-modal__btn--submit {
  @extend %btn;
  margin-left: auto;
  margin-right: auto;
  width: 132px;
  border: none;
}
