.section__footer {
  background-color: $solid-bg-color;
  padding: 20px;
}

.footer__btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 60px;
  text-align: center;
  @include tablet {
    flex-direction: row;
  }
}
.locations-btn {
  @extend %btn;
  display: inline;
  min-width: 196px;
  border-color: transparent;
}
.location__map {
  @media screen and (max-width: 767px) {
    width: 224px;
    height: 199px;
  }
}
.locations__modal {
  width: 280px;
  height: 365px;
}
.open__map {
  @extend %btn;
  border-color: transparent;
}
.franchise-btn {
  @extend %btn-transparent;
  display: inline;
  min-width: 196px;
}

.footer__title {
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.04em;
  color: $secondary-font-color;

  @include tablet {
    font-weight: 400;
    font-size: 26px;
    line-height: calc(32 / 26);
  }
  @include desktop {
    font-size: 30px;
    line-height: calc(37 / 30);
  }
}

.footer__title2 {
  display: inline-block;
  padding-top: 16px;
  font-weight: 700;
  font-size: 48px;
  line-height: calc(59 / 48);
  letter-spacing: 0.04em;
  padding-bottom: 60px;

  @include tablet {
    padding-top: 8px;
    padding-bottom: 32px;
  }

  @include desktop {
    padding-top: 14px;
    padding-bottom: 60px;
  }

  @include desktop {
    padding-top: 14px;
    font-size: 30px;

    font-size: 58px;
    line-height: calc(71 / 58);
  }
}

.footertitle__box {
  width: 232px;

  @include tablet {
    width: 352px;
    align-items: baseline;
  }

  @include desktop {
    width: 504px;
  }
}

.footer__contetbox {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.social__list {
  display: flex;
  justify-content: right;
  gap: 20px;

  & .link {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
}
.social__icon {
  fill: $solid-bg-color;
  &:hover,
  &:focus {
    fill: $secondary-font-color;
  }
}
.phone-text {
  text-align: right;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(22 / 12);
  margin-top: 20px;
  margin-bottom: 40px;

  @include tablet {
    margin-top: 34px;
    font-size: 14px;
    margin-bottom: 30px;
  }

  @include desktop {
    margin-top: 40px;
    font-size: 14px;
    line-height: calc(30 / 16);
    margin-bottom: 60px;
  }
}
.tel-link {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.copyright__box {
  margin-left: auto;
  margin-right: auto;
  width: 150px;

  @include tablet {
    width: 100%;
  }

  @include tablet {
    padding-left: auto;
    padding-right: auto;
  }
}
.copyright-line {
  position: relative;
  width: 100vw;
  padding-bottom: 20px;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  border-top: 1px solid #e1e1e1;

  @include tablet {
    padding-bottom: 12px;
  }

  @include desktop {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
  }
}
.copyright {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(21 / 14);
  color: $copyright-color;

  @include desktop {
    font-size: 12px;
    line-height: calc(22 / 12);
  }
}

// .footer__btn {
//   display: flex;
//   align-items: center;
//   vertical-align: center;
//   justify-content: center;
//   margin-left: auto;
//   margin-right: auto;
// }
