<section class="section advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <div class="advantages__icon-bg advantages__icon-1"></div>
        <p class="advantages__title" data-number="1">0</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon-bg advantages__icon-2"></div>
        <p class="advantages__title" data-number="2">0kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon-bg advantages__icon-3"></div>
        <p class="advantages__title" data-number="3">0</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
