<section class="section advantages">
    <div class="container">
        <h2 class="visually-hidden">advanteges</h2>
        <ul class="advantages-list">
            <li class="advantages-item">
                <div class="advantages-icon-bg advantages-icon-1"></div>
                <h3 class="advantages-title">721</h3>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item">
                <div class="advantages-icon-bg advantages-icon-2"></div>
                <h3 class="advantages-title">16kg</h3>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item">
                <div class="advantages-icon-bg advantages-icon-3"></div>
                <h3 class="advantages-title">84</h3>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.  </p>
            </li>
        </ul>
    </div>
    
</section>