<section>
  <div class="container">
    <h2 class="contacts__title"></h2>
    <ul class="contacts__thumb">
      <p class="contacts__name">CAFE</p>
      <li class="contacts__item">
        <p class="contacts__town">Chicago</p>
        <address>
          <a
            href="10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA"
            noopener
            nofollow
            noreffer
            class="contacts__adress"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </a>
        </address>
      </li>
      <li class="contacts__item">
        <div class="work_day">
          <p class="contacts__day">Monday - Friday</p>
          <time class="contacts__time">06:00 AM - 10:00 PM</time>
        </div>
        <div class="exit_day">
          <p class="contacts__day">Saturday - Sunday</p>
          <time class="contacts__time">08:00 AM - 16:00 PM</time>
        </div>
      </li>
      <li class="contacts__item">
        <a
          href="tel:+61(0) 383 766 284"
          class="contacts__tel"
          noopener
          nofollow
          noreffer
          >+61(0) 383 766 284</a
        >
        <a
          href="mailto:noreply@envato.com"
          class="contacts__mail"
          noopener
          nofollow
          noreffer
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <ul class="contacts__thumb">
      <p class="contacts__name max">FOODTRUCK</p>
      <li class="contacts__item">
        <p class="contacts__town">Los Angeles</p>
        <address>
          <a
            href="1003 Manhattan Ave, Manhattan Beach, CA 90263, USA"
            noopener
            nofollow
            noreffer
            class="contacts__adress"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>
      </li>
      <li class="contacts__item">
        <div class="work_day">
          <p class="contacts__day">Monday - Friday</p>
          <time class="contacts__time">06:00 AM - 10:00 PM</time>
        </div>
        <div class="exit_day">
          <p class="contacts__day">Saturday - Sunday</p>
          <time class="contacts__time">08:00 AM - 16:00 PM</time>
        </div>
      </li>
      <li class="contacts__item">
        <a
          href="tel:+61(0) 383 766 284"
          class="contacts__tel"
          noopener
          nofollow
          noreffer
          >+61(0) 383 766 284</a
        >
        <a
          href="mailto:noreply@envato.com"
          class="contacts__mail"
          noopener
          nofollow
          noreffer
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <ul class="contacts__thumb">
      <p class="contacts__name">CAFE</p>
      <li class="contacts__item">
        <p class="contacts__town">New York</p>
        <address>
          <a
            class="contacts__adress"
            href="726 Sterling Pl, Brooklyn, NY 11222, USA"
            noopener
            nofollow
            noreffer
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>
      </li>
      <li class="contacts__item">
        <div class="work_day">
          <p class="contacts__day">Monday - Friday</p>
          <time class="contacts__time">06:00 AM - 10:00 PM</time>
        </div>
        <div class="exit_day">
          <p class="contacts__day">Saturday - Sunday</p>
          <time class="contacts__time">08:00 AM - 16:00 PM</time>
        </div>
      </li>
      <li class="contacts__item">
        <a
          href="tel:+61(0) 383 766 284"
          class="contacts__tel"
          noopener
          nofollow
          noreffer
          >+61(0) 383 766 284</a
        >
        <a
          href="mailto:noreply@envato.com"
          class="contacts__mail"
          noopener
          nofollow
          noreffer
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <div class="contacts__buttons">
      <button class="btn-location">
        Our Locations
        <svg class="btn-svg">
          <use href="./images/icons.svg#icon-arrow-short"></use>
        </svg>
      </button>
      <button class="btn-franchise">
        Franchise<svg class="btn-svg">
          <use href="./images/icons.svg#icon-arrow-short"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
