<section class="section section__footer">
  <ul class="footer__btn">
    <li>
      <button
        type="button"
        class="locations-btn js-open-modal"
        data-modal="openModalOurLocations"
      >
        Our Locations
        <svg class="btn-arrow" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-short"></use>
        </svg>
      </button>
      <div class="modal locations__modal" data-modal="openModalOurLocations">
        <svg class="modal__cross js-modal-close">
          <use class="" href="./images/icons.svg#icon-close-modal20"></use>
        </svg>
        <h3 class="locations__title">Our Locations</h3>
        <iframe
          class="location__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.8950670510467!2d4.892096151239284!3d52.3723226796872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c609c74b85b4e9%3A0xa7ad442c7af07aad!2sCannabis%20Museum%20Amsterdam!5e0!3m2!1suk!2snl!4v1671224833862!5m2!1suk!2snl"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <button type="button" class="open__map">Open map</button>
      </div>
    </li>
    <li>
      <button
        type="button"
        class="franchise-btn js-open-modal"
        data-modal="openModalFranchise"
      >
        Franchise
        <svg class="btn-arrow" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-short"></use>
        </svg>
      </button>
      <div class="modal" data-modal="openModalFranchise">
        <svg class="modal__cross js-modal-close">
          <use class="" href="./images/icons.svg#icon-close-modal20"></use>
        </svg>
        <h3 class="franchise__title">
          Thank you for your interest in owning an Ice Cream shop
        </h3>
        <p>
          Due to the overwhelming volume of franchise requests we are not
          accepting new franchisee applications at this time. Once the
          application process resumes, we will contact you for further
          information. Please fill out the contact information below and we will
          reach out for additional information. We appreciate your patience.
        </p>
      </div>
    </li>
  </ul>
  <div class="footer__contetbox">
    <div class="footertitle__box">
      <strong class="footer__title">
        homemade ice cream made
        <span class="footer__title2">with passion</span></strong
      >
    </div>
    <div>
      <ul class="social__list">
        <li>
          <a
            href="https://github.com/"
            class="link"
            target="_blank"
            rel="nofolow norefferer noopener"
          >
            <svg class="social__icon" width="34" height="34">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://web.telegram.org/"
            class="link"
            target="_blank"
            rel="nofolow norefferer noopener"
          >
            <svg class="social__icon" width="34" height="34">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/"
            class="link"
            target="_blank"
            rel="nofolow norefferer noopener"
          >
            <svg class="social__icon" width="34" height="34">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="phone-text">
        Feel free to contact
        <a href="tel:+610383766284" class="tel-link">+61 (0) 383 766 284</a>
      </p>
    </div>
  </div>
  <div class="copyright__box">
    <div class="copyright-line"></div>
    <p class="copyright">&#169; 2022 - IceCream. All Rights Reserved.</p>
  </div>
</section>
