<section class="section-gallery">
  <div class="container-gallery">
    <h2 class="visually-hidden">Our product gallery</h2>
    <div class="swiper field-gallery" data-swiper="gallery">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/gallery-review/mobile_icecream1_1x.webp 1x,
                ./images/gallery-review/mobile_icecream1_2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./images/gallery-review/mobile_icecream1_1x.jpg 1x,
                ./images/gallery-review/mobile_icecream1_2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./images/gallery-review/tablet_icecream1_1x.webp 1x,
                ./images/gallery-review/tablet_icecream1_2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 1199px)"
            />

            <source
              srcset="
                ./images/gallery-review/tablet_icecream1_1x.jpg 1x,
                ./images/gallery-review/tablet_icecream1_2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width: 1199px)"
            />

            <source
              srcset="
                ./images/gallery-review/desktop_icecream1_1x.webp 1x,
                ./images/gallery-review/desktop_icecream1_2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-review/desktop_icecream1_1x.jpg 1x,
                ./images/gallery-review/desktop_icecream1_2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1200px)"
            />

            <img
              src="./images/gallery-review/desktop_icecream1_1x.jpg"
              alt="Ice-cream picture"
              width="100%"
              loading="lazy"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/gallery-review/mobile_icecream2_1x.webp 1x,
                ./images/gallery-review/mobile_icecream2_2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./images/gallery-review/mobile_icecream2_1x.jpg 1x,
                ./images/gallery-review/mobile_icecream2_2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./images/gallery-review/tablet_icecream2_1x.webp 1x,
                ./images/gallery-review/tablet_icecream2_2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 1199px)"
            />

            <source
              srcset="
                ./images/gallery-review/tablet_icecream2_1x.jpg 1x,
                ./images/gallery-review/tablet_icecream2_2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width: 1199px)"
            />

            <source
              srcset="
                ./images/gallery-review/desktop_icecream2_1x.webp 1x,
                ./images/gallery-review/desktop_icecream2_2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-review/desktop_icecream2_1x.jpg 1x,
                ./images/gallery-review/desktop_icecream2_2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1200px)"
            />

            <img
              src="./images/gallery-review/desktop_icecream2_1x.jpg"
              alt="Ice-cream picture"
              width="100%"
              loading="lazy"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/gallery-review/mobile_icecream3_1x.webp 1x,
                ./images/gallery-review/mobile_icecream3_2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./images/gallery-review/mobile_icecream3_1x.jpg 1x,
                ./images/gallery-review/mobile_icecream3_2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./images/gallery-review/tablet_icecream3_1x.webp 1x,
                ./images/gallery-review/tablet_icecream3_2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 1199px)"
            />

            <source
              srcset="
                ./images/gallery-review/tablet_icecream3_1x.jpg 1x,
                ./images/gallery-review/tablet_icecream3_2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width: 1199px)"
            />

            <source
              srcset="
                ./images/gallery-review/desktop_icecream3_1x.webp 1x,
                ./images/gallery-review/desktop_icecream3_2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-review/desktop_icecream3_1x.jpg 1x,
                ./images/gallery-review/desktop_icecream3_2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1200px)"
            />

            <img
              src="./images/gallery-review/desktop_icecream3_1x.jpg"
              alt="Ice-cream picture"
              width="100%"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
