<!-- Слайдер-->
<section class="section-gallery">
  <div class="container-gallery">
    <h2 class="visually-hidden">Testimonials from our customers</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/mobile_icecream1_1x.webp 1x,
                ./images/mobile_icecream1_2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./images/mobile_icecream1_1x.jpg 1x,
                ./images/mobile_icecream1_2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./images/tablet_icecream1_1x.webp 1x,
                ./images/tablet_icecream1_2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 1199px)"
            />

            <source
              srcset="
                ./images/tablet_icecream1_1x.jpg 1x,
                ./images/tablet_icecream1_2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width: 1199pxpx)"
            />

            <source
              srcset="
                ./images/desktop_icecream1_1x.webp 1x,
                ./images/desktop_icecream1_2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/desktop_icecream1_1x.jpg 1x,
                ./images/desktop_icecream1_2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1200px)"
            />

            <img
              src="./images/desktop_icecream1_1x.jpg"
              alt="Ice-cream picture"
              max-width="100%"
              class="swiper-slide__image"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/mobile_icecream2_1x.webp 1x,
                ./images/mobile_icecream2_2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./images/mobile_icecream2_1x.jpg 1x,
                ./images/mobile_icecream2_2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./images/tablet_icecream2_1x.webp 1x,
                ./images/tablet_icecream2_2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 1199px)"
            />

            <source
              srcset="
                ./images/tablet_icecream2_1x.jpg 1x,
                ./images/tablet_icecream2_2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width: 1199pxpx)"
            />

            <source
              srcset="
                ./images/desktop_icecream2_1x.webp 1x,
                ./images/desktop_icecream2_2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/desktop_icecream2_1x.jpg 1x,
                ./images/desktop_icecream2_2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1200px)"
            />

            <img
              src="./images/desktop_icecream2_1x.jpg"
              alt="Ice-cream picture"
              max-width="100%"
              class="swiper-slide__image"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/mobile_icecream3_1x.webp 1x,
                ./images/mobile_icecream3_2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./images/mobile_icecream3_1x.jpg 1x,
                ./images/mobile_icecream3_2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./images/tablet_icecream3_1x.webp 1x,
                ./images/tablet_icecream3_2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 1199px)"
            />

            <source
              srcset="
                ./images/tablet_icecream3_1x.jpg 1x,
                ./images/tablet_icecream3_2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width: 1199pxpx)"
            />

            <source
              srcset="
                ./images/desktop_icecream3_1x.webp 1x,
                ./images/desktop_icecream3_2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/desktop_icecream3_1x.jpg 1x,
                ./images/desktop_icecream3_2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1200px)"
            />

            <img
              src="./images/desktop_icecream3_1x.jpg"
              alt="Ice-cream picture"
              max-width="100%"
              class="swiper-slide__image"
            />
          </picture>
        </div>
      </div>
      <!-- Пагинация - "..." -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
