<section class="hero">
  <div class="hero__container container">
    <h1 class="hero__main--title">ice cream made with passion</h1>
    <div class="hero__left--side">
      <button class="hero__button--first" type="button">Products</button>
      <button class="hero__button--second" type="button">How it’s made?</button>
    </div>
    <div class="heroo__right--side">
      <ul class="hero__list">
        <li class="hero__iteam">
          <p class="hero__iteam--number">16</p>
          <p class="hero__iteam--text">cafes</p>
        </li>
        <li class="hero__iteam">
          <p class="hero__iteam--number">23</p>
          <p class="hero__iteam--text">food trucks</p>
        </li>
      </ul>
      <div class="hero__uppertitle">
        <p class="hero__uppertitle--text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et
        </p>
        
      </div>

    </div>
  </div>
</section>
