<section class="section products">
  <div class="container">
    <p class="products__desc">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="list products__list">
      <li class="products__item">
        <h3 class="products__name">ice cream</h3>
        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          type="button"
          title="More"
          class="products__btn js-open-modal"
          data-modal="openModalProducts"
        >
          <svg class="products__icon">
            <use href="./images/icons.svg#icon-arrow-long"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          type="button"
          title="More"
          class="products__btn js-open-modal"
          data-modal="openModalProducts"
        >
          <svg class="products__icon">
            <use href="./images/icons.svg#icon-arrow-long"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__name">milkshakes</h3>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          type="button"
          title="More"
          class="products__btn js-open-modal"
          data-modal="openModalProducts"
        >
          <svg class="products__icon">
            <use href="./images/icons.svg#icon-arrow-long"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>

<!-- МОДАЛЬНОЕ ОКНО -->

<section>
  <div class="modal products-modal" data-modal="openModalProducts">
    <svg class="modal__cross js-modal-close">
      <use class="" href="./images/icons.svg#icon-close-modal20"></use>
    </svg>
    <p class="modal__title products-modal__title">Chololate icecream</p>
    <ul class="list nutrition">
      <li class="nutrition__item">
        <span class="nutrition__value">320</span>
        <span class="nutrition__desc">kcal</span>
      </li>
      <li class="nutrition__item">
        <span class="nutrition__value">4g</span>
        <span class="nutrition__desc nutrition__desc--short">Prote...</span>
        <span class="nutrition__desc nutrition__desc--long">Protein...</span>
      </li>
      <li class="nutrition__item">
        <span class="nutrition__value">8,2g</span>
        <span class="nutrition__desc">Fats</span>
      </li>
      <li class="nutrition__item">
        <span class="nutrition__value">40,4g</span>
        <span class="nutrition__desc">Carbs</span>
      </li>
    </ul>
    <p class="products-modal__ingredients-title">Ingredients</p>
    <ul class="list ingredients">
      <li class="ingredients__item">
        <span class="ingredients__name">Milk</span>
        <span class="ingredients__value">100ml</span>
      </li>

      <li class="ingredients__item">
        <span class="ingredients__name">Belgian chocolate</span>
        <span class="ingredients__value">20g</span>
      </li>

      <li class="ingredients__item">
        <span class="ingredients__name">Cream</span>
        <span class="ingredients__value">150 ml</span>
      </li>

      <li class="ingredients__item">
        <span class="ingredients__name">Cocoa powder</span>
        <span class="ingredients__value">30g</span>
      </li>

      <li class="ingredients__item">
        <span class="ingredients__name">Sugar</span>
        <span class="ingredients__value">40g</span>
      </li>

      <li class="ingredients__item">
        <span class="ingredients__name">Vanilla sugar</span>
        <span class="ingredients__value">10g</span>
      </li>
    </ul>
    <form class="products-modal__form">
      <label class="products-modal__label">
        <input
          type="text"
          name="name"
          placeholder="Name"
          class="products-modal__field products-modal__input"
        />
      </label>

      <label class="products-modal__label">
        <input
          type="tel"
          name="tel"
          placeholder="Phone"
          class="products-modal__field products-modal__input"
        />
      </label>

      <label class="products-modal__label">
        <textarea
          name="comment"
          placeholder="Comment"
          class="products-modal__field products-modal__comment"
        ></textarea>
      </label>

      <button
        type="submit"
        title="Відправити"
        class="products-modal__btn--submit"
      >
        Submit
      </button>
    </form>
  </div>
  <!-- Конец модалок -->

  <!-- Подложка (Backdrop) под модальным окном, нужно поставить в конец, перд закрытием body -->
  <div class="overlay js-overlay-modal"></div>
</section>
