<section class="section-reviews">
  <div class="container-reviews">
    <h2 class="visually-hidden">Feedback from our customers</h2>
    <div class="swiper" data-swiper="reviews">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="review">
            <picture>
              <source
                srcset="
                  ./images/reviewers_images/image_reviewer1_1x.webp 1x,
                  ./images/reviewers_images/image_reviewer1_2x.webp 2x
                "
                type="image/webp"
              />

              <source
                srcset="
                  ./images/reviewers_images/image_reviewer1_1x.jpg 1x,
                  ./images/reviewers_images/image_reviewer1_2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./images/reviewers_images/image_reviewer1_1x.jpg"
                width="85"
                height="85"
                alt="reviewer photo"
                loading="lazy"
              />
            </picture>
            <div class="review__container">
              <p class="review__text">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
            </div>
            <h3 class="review__title">Emily, Los Angeles</h3>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="review">
            <picture>
              <source
                srcset="
                  ./images/reviewers_images/image_reviewer2_1x.webp 1x,
                  ./images/reviewers_images/image_reviewer2_2x.webp 2x
                "
                type="image/webp"
              />

              <source
                srcset="
                  ./images/reviewers_images/image_reviewer2_1x.jpg 1x,
                  ./images/reviewers_images/image_reviewer2_2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./images/reviewers_images/image_reviewer2_1x.jpg"
                width="85"
                height="85"
                alt="reviewer photo"
                loading="lazy"
              />
            </picture>
            <div class="review__container">
              <p class="review__text">
                Every day we come to you with friends after classes in college.
                We love your ice cream and casual atmosphere!
              </p>
            </div>
            <h3 class="review__title">Diana, Chicago</h3>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="review">
            <picture>
              <source
                srcset="
                  ./images/reviewers_images/image_reviewer3_1x.webp 1x,
                  ./images/reviewers_images/image_reviewer3_2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/reviewers_images/image_reviewer3_1x.jpg 1x,
                  ./images/reviewers_images/image_reviewer3_2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./images/reviewers_images/image_reviewer3_1x.jpg"
                width="85"
                height="85"
                alt="reviewer photo"
                loading="lazy"
              />
            </picture>
            <div class="review__container">
              <p class="review__text">
                Ice cream is my passion! I love your chocolate hazelnut ice
                cream! And I really like the excellent service - always served
                politely and quickly!
              </p>
            </div>
            <h3 class="review__title">Bryan, New-York</h3>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
